* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scrollbar-width: thin;
}

body {
    container-type: inline-size;
    container-name: viewport;
    background-color: var(--main-text-light);
    --header-text-selected: #cfdfff;
    --header-bg-color: #0007;
    --header-bg-color2: #000b;
    --main-text-light: #F0E5D7;
    --main-text-dark: #1E486D;
    --main-text-shadow: #294A97;
    --font-style-1: 'Montserrat';
    --font-style-2: 'Corinthia';
    --main-bg: url(Resourses/Backgrounds/Flowers/Designer_6.jpeg);
}



/* -------- START HEADER SECTION -------- */
.header {
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100dvw;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--header-bg-color2);
}

.header > img {
    max-width: 64px;
}

#nav-toggle {
    display: none;
}

label.nav-icon {
    font-size: 2.5rem;
    color: var(--main-text-light);
    animation: changing 1.5s both;
}

label.close-nav {
    display: none;
}

.header__nav {
    position: absolute;
    display: none;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: var(--header-bg-color2);
    z-index: -1;
    animation: mobile-menu 1s both;
}

.header__list {
    padding: 5%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header__item {
    padding: 10px;
    border-radius: 10px;
}

.header__item:nth-child(2) .header__link {
    color: var(--header-text-selected);
}

.header__link {
    text-decoration: none;
    font-family: var(--font-style-1);
    font-size: clamp(1.5rem, 0.735rem + 3.265vw, 2rem);
    font-weight: 500;
    color: var(--main-text-light);
    user-select: none;
}

.header__nav:has(.link--2:hover) .item--2 {
    outline: 3px solid var(--header-text-selected);
}

.header__nav:has(.link--1:hover) .item--1, .header__nav:has(.link--3:hover) .item--3, .header__nav:has(.link--4:hover) .item--4, .header__nav:has(.link--5:hover) .item--5 {
    outline: 3px solid var(--main-text-light);
}

.header:has(input[type="checkbox"]:checked) .header__nav {
    display: block;
}

.header:has(input[type="checkbox"]:checked) .close-nav {
    display: block;
}

.header:has(input[type="checkbox"]:checked) .open-nav {
    display: none;
}


/* -------- QUERIES HEADER SECTION -------- */
@container viewport (min-width: 620px) {
    .header:has(#nav-toggle:checked) .nav-icon {
        display: none;
    }
    .header:has(#nav-toggle:not(:checked)) .nav-icon {
        display: none;
    }

    .header {
        background-color: var(--header-bg-color);
        animation: mobile-menu 1s both;
    }

    .header__nav {
        position: static;
        display: block;
        width: auto;
        height: auto;
        background-color: transparent;
        animation: none;
    }

    .header__list {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        list-style: none;
        gap: 16px;
    }
    
    .header__item {
        padding: 5px;
        border-radius: 10px;
    }
    
    .header__link {
        text-decoration: none;
        font-family: var(--font-style-1);
        font-size: clamp(1rem, -0.184rem + 2.632vw, 1.5rem);
        color: var(--main-text-light);
    }
}
/* -------- END HEADER SECTION -------- */



/* -------- START MAIN SECTION -------- */



/* -------- END MAIN SECTION -------- */



/* -------- START FOOTER SECTION -------- */
.footer {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: var(--main-text-dark);
    font-family: var(--font-style-1);
    font-weight: 500;
    color: var(--main-text-light);
}

.media__container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.footer-logo img {
    max-width: 80px;
}

.media__container a img {
    max-width: 32px;
    display: block;
}


/* -------- QUERIES FOOTER SECTION -------- */
@container viewport (min-width: 480px) {
    .footer {
        flex-direction: row-reverse;
    }
}
/* -------- END FOOTER SECTION -------- */



/* -------- START ANIMATION SECTION -------- */
@keyframes changing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes main-title {
    from {
        translate: 0 50%;
    }
    to {
        translate: 0 0;
    }
}

@keyframes intro-name {
    from {
        translate: -120%;
    }
    to {
        translate: 0;
    }
}

@keyframes intro-title {
    from {
        translate: 100%;
    }
    to {
        translate: 0;
    }
}

@keyframes mobile-menu {
    from {
        translate: 0 -110%;
    }

    to {
        translate: 0 0;
    }
}
/* -------- END ANIMATION SECTION -------- */