* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scrollbar-width: thin;
}

body {
    container-type: inline-size;
    container-name: viewport;
    background-color: var(--main-text-light);
    --header-text-selected: #cfdfff;
    --header-bg-color: #0007;
    --header-bg-color2: #000b;
    --main-text-light: #F0E5D7;
    --main-text-dark: #1E486D;
    --main-text-shadow: #294A97;
    --font-style-1: 'Montserrat';
    --font-style-2: 'Corinthia';
    --main-bg: url(Resourses/Backgrounds/Flowers/Designer_6.jpeg);
}



/* -------- START HEADER SECTION -------- */
.header {
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100dvw;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--header-bg-color2);
}

.header > img {
    max-width: 64px;
}

#nav-toggle {
    display: none;
}

label.nav-icon {
    font-size: 2.5rem;
    color: var(--main-text-light);
    animation: changing 1.5s both;
}

label.close-nav {
    display: none;
}

.header__nav {
    position: absolute;
    display: none;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: var(--header-bg-color2);
    z-index: -1;
    animation: mobile-menu 1s both;
}

.header__list {
    padding: 5%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header__item {
    padding: 10px;
    border-radius: 10px;
}

.header__item:nth-child(1) .header__link {
    color: var(--header-text-selected);
}

.header__link {
    text-decoration: none;
    font-family: var(--font-style-1);
    font-size: clamp(1.5rem, 0.735rem + 3.265vw, 2rem);
    font-weight: 500;
    color: var(--main-text-light);
    user-select: none;
}

.header__nav:has(.link--1:hover) .item--1 {
    outline: 3px solid var(--header-text-selected);
}

.header__nav:has(.link--2:hover) .item--2, .header__nav:has(.link--3:hover) .item--3, .header__nav:has(.link--4:hover) .item--4, .header__nav:has(.link--5:hover) .item--5 {
    outline: 3px solid var(--main-text-light);
}

.header:has(input[type="checkbox"]:checked) .header__nav {
    display: block;
}

.header:has(input[type="checkbox"]:checked) .close-nav {
    display: block;
}

.header:has(input[type="checkbox"]:checked) .open-nav {
    display: none;
}


/* -------- QUERIES HEADER SECTION -------- */
@container viewport (min-width: 620px) {
    .header:has(#nav-toggle:checked) .nav-icon {
        display: none;
    }
    .header:has(#nav-toggle:not(:checked)) .nav-icon {
        display: none;
    }

    .header {
        background-color: var(--header-bg-color);
        animation: mobile-menu 1s both;
    }

    .header__nav {
        position: static;
        display: block;
        width: auto;
        height: auto;
        background-color: transparent;
        animation: none;
    }

    .header__list {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        list-style: none;
        gap: 16px;
    }
    
    .header__item {
        padding: 5px;
        border-radius: 10px;
    }
    
    .header__link {
        text-decoration: none;
        font-family: var(--font-style-1);
        font-size: clamp(1rem, -0.184rem + 2.632vw, 1.5rem);
        color: var(--main-text-light);
    }
}
/* -------- END HEADER SECTION -------- */



/* -------- START MAIN SECTION -------- */
.landing__section {
    position: relative;
    overflow: hidden;
}

.main__container {
    position: relative;
    width: 100%;
    height: 100lvh;
    background: var(--main-bg)  center/cover;
    display: flex;
    justify-content: center;
    align-items: end;
}

.queen__grupal {
    display: block;
    animation: changing 1s both;
}

.queen__grupal h1 {
    position: absolute;
    bottom: 32%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: clamp(3rem, 1.655rem + 5.738vw, 9rem);
    font-family: var(--font-style-2);
    color: var(--main-text-light);
    filter: drop-shadow(0 0 5px var(--main-text-shadow));
    user-select: none;
    animation: main-title 1s both;
}

.queen__grupal img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: calc(100lvh - 64px);
    object-fit: cover;
    object-position: center;
    mask-image: linear-gradient(#000 60%, transparent 80%);
    /*animation: group-img 1s both;*/
}

.queen__main {
    display: none; 
}

.queen__main img {
    max-width: 100%;
    height: 100lvh;
    object-fit: cover;
    object-position: center;
    mask-image: linear-gradient(#000 60%, transparent 80%);
}

.queen__name {
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: clamp(2rem, 0.431rem + 6.695vw, 9rem);
    font-family: var(--font-style-2);
    color: var(--main-text-light);
    filter: drop-shadow(0 0 3px var(--main-text-shadow));
    user-select: none;
    text-wrap: balance;
    animation: intro-name .5s both;
}

.queen__title {
    position: absolute;
    bottom: 32%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: clamp(2.5rem, 1.715rem + 3.347vw, 6rem);
    font-family: var(--font-style-2);
    color: var(--main-text-light);
    filter: drop-shadow(0 0 3px var(--main-text-shadow));
    user-select: none;
    text-wrap: balance;
    animation: intro-title .5s .25s both;
}


body:has(.portrait-ana:hover) .queen__grupal {
    display: none;
}
body:has(.portrait-ana:hover) .ana-valdivia {
    display: block;
    animation: changing .75s both;
}


body:has(.portrait-miriam:hover) .queen__grupal {
    display: none;
}
body:has(.portrait-miriam:hover) .miriam-castillo {
    display: block;
    animation: changing .75s both;
}


body:has(.portrait-frida:hover) .queen__grupal {
    display: none;
}
body:has(.portrait-frida:hover) .frida-sustaita {
    display: block;
    animation: changing .75s both;
}


body:has(.portrait-cecilia:hover) .queen__grupal {
    display: none;
}
body:has(.portrait-cecilia:hover) .cecilia-gomez {
    display: block;
    animation: changing 1s both;
}


body:has(.portrait-monica:hover) .queen__grupal {
    display: none;
}
body:has(.portrait-monica:hover) .monica-palomino {
    display: block;
    animation: changing 1s both;
}


/* ----- PORTRAIT SECTION ----- */
.portrait__container {
    width: 95%;
    max-width: 510px;
    position: absolute;
    bottom: 5%;
    height: 25vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    animation: changing 1s both, main-title 1s both;
}

.portrait__container a {
    flex: 1;
    justify-items: center;
    transition: all .75s ease;
}

.portrait__container img {
    display: block;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.portrait__container a:hover {
    flex: 2;
    translate: 0 -20px;
    transition: all .75s ease;
}

/* ----- QUERIES PORTRAIT SECTION ----- */
@container viewport (min-width: 1024px) {
    .queen__grupal h1 {
        bottom: 30%;
    }
}


/* ----- DIRECTORS SECTION ----- */
.directors__container {
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-text-light);
}

.directors__container > h2 {
    padding: 1rem 0;
    font-family: var(--font-style-2);
    font-size: clamp(2.5rem, 1.491rem + 4.304vw, 7rem);
    text-align: center;
    color: var(--main-text-dark);
}

.director {
    margin-bottom: 2rem;
    position: relative;
    border-radius: 1rem;
    background-color: #0002;
}

.director__front {
    border-radius: 1rem;
    transform: rotateY(0deg) perspective(1200px);
}

.director__front img {
    display: block;
    min-width: 300px;
    max-width: 100%;
    border-radius: 1rem;
}

.director__name {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: var(--font-style-2);
    font-size: 3.5rem;
    color: var(--main-text-light);
    filter: drop-shadow(0 0 3px var(--main-text-dark));
    user-select: none;
    /*color: transparent;
    background-clip: text;
    background-image: url(Resourses/Backgrounds/Silver/Silver\ BG\ 7.jpg); /* S 3 6 / G 7 10 12*/
    /*background-size: cover;
    background-position: 50% 35%; /* Las opciones de arriba con position center*/
    /*filter: drop-shadow(0 0 3px var(--main-text-dark));*/
}

.esbeidi-crumbaker .director__name {
    font-size: 3rem;
}

.director__back {
    background-color: var(--main-text-dark);
    border-radius: 1rem;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    color: var(--main-text-light);
    transform: rotateY(180deg) perspective(1200px);
}

.director__title1 {
    font-family: var(--font-style-2);
    font-size: 2.5rem;
    text-align: center;
    user-select: none;
}

.director__title2 {
    text-align: center;
    padding-bottom: 10px;
    font-family: var(--font-style-1);
    font-size: 1.2rem;
    font-weight: 400;
    user-select: none;
}

.director__front, .director__back {
    backface-visibility: hidden;
    transition: transform .4s ease;
}

.director:hover .director__front {
    transform: rotateY(180deg);
}

.director:hover .director__back {
    transform: rotateY(360deg);
}

/* -------- QUERIES PORTRAIT SECTION -------- */
@container viewport (min-width: 720px) {
    .directors__container {
        margin: auto;
        padding-bottom: 2rem;
        max-width: 1440px;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
    }

    .directors__container > h2 {
        width: 100%;
        padding-bottom: 0;
    }

    .director {
        margin-bottom: 0;
        min-width: 205px;
        max-width: 30%;
    }
    
    .director__front img {
        display: block;
        min-width: 205px;
        max-width: 100%;
        min-height: 400px;
        object-fit: cover;
    }
}
/* -------- END MAIN SECTION -------- */



/* -------- START FOOTER SECTION -------- */
.footer {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: var(--main-text-dark);
    font-family: var(--font-style-1);
    font-weight: 500;
    color: var(--main-text-light);
}

.media__container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.footer-logo img {
    max-width: 80px;
}

.media__container a img {
    max-width: 32px;
    display: block;
}


/* -------- QUERIES FOOTER SECTION -------- */
@container viewport (min-width: 480px) {
    .footer {
        flex-direction: row-reverse;
    }
}
/* -------- END FOOTER SECTION -------- */



/* -------- START ANIMATION SECTION -------- */
@keyframes changing {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 1;
    }
}

@keyframes main-title {
    from {
        translate: 0 50%;
    }
    to {
        translate: 0 0;
    }
}

@keyframes intro-name {
    from {
        translate: -120%;
    }
    to {
        translate: 0;
    }
}

@keyframes intro-title {
    from {
        translate: 100%;
    }
    to {
        translate: 0;
    }
}

@keyframes mobile-menu {
    from {
        translate: 0 -110%;
    }

    to {
        translate: 0 0;
    }
}

@keyframes group-img {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* -------- END ANIMATION SECTION -------- */